@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Rubik", sans-serif !important;
  overflow-x: hidden !important;
}

/* Heading */
h1 {
  font-weight: 600;
  font-size: 80px;
  color: #ffffff;
}
h2 {
  font-size: 48px;
  color: #000000;
}
h3 {
  font-weight: 600;
  font-size: 40px;
  color: #5bc0cc;
}
h5 {
  font-size: 14px;
  margin: 0 !important;
}

/* ============Buttons Start========== */
.main-btn {
  padding: 16px 40px;
  width: 223px;
  height: 57px;
  background: #5bc0cc;
  border-radius: 12px;
  border: none;
  color: #ffffff;
}
.main-btn:hover {
  background: #ffffff;
  border: 1px solid #5bc0cc;
  color: #5bc0cc;
}
.outline-btn {
  padding: 16px 40px;
  width: 223px;
  height: 57px;
  border: 1px solid #b1ccda !important;
  border-radius: 12px;
  border: none;
  color: #1e1e1e;
  background: transparent !important;
}
.no-btn{
  width: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.outline-btn:hover {
  background: #5bc0cc !important;
}
.parallel-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.red-btn{
  padding: 16px 40px;
  width: 223px;
  height: 57px;
  border: 1px solid #B1CCDA !important;
  border-radius: 12px;
  border: none;
  color: #EA0F0F;
  background: transparent;
}
.red-btn:hover{
  background: #5bc0cc;
  border: 1px solid #5bc0cc;
  color: #ffffff;
}
.modal-btn{
  cursor: pointer;
}
/* ============Buttons End========== */

.logo {
  width: 25%;
}
/* Hero Section */
.hero-img {
  background: url(../src/assets/images/hero-img.png) no-repeat;
  height: 400px;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cal-inner {
  text-align: center;
}
.row.head-row {
  align-items: center;
}
.eclipse-bg {
  /* margin: -100px 0 0 0;
  z-index: -1;
  position: relative; */
  position: absolute;
  top: 355px;
  z-index: -1;
}
.cal-bottom-bg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
}
.bottom-bg {
  background: url(../src/assets/images/eclipse-bg.png) no-repeat;
  /* height: 200px; */
  background-size: 20%;
  background-position: bottom right;
}
.bot-para {
  font-size: 18px;
  color: #000000;
  padding: 5px 0 30px 0;
  width: 50%;
  margin: 0 auto;
}
.pos-area {
  position: relative;
}
.bottom-div {
  margin: 0 0 100px 0;
}

.showPlans {
  display: block;
}
.hidePlans {
  display: none;
}

/* =====================schedule div start================ */

.time-schd {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 auto;
  width: 40% !important;
}

.sch-tab {
  width: 100px;
  height: 38px;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}
.sch-tab span {
  font-size: 12px;
  color: rgba(60, 60, 67, 0.3);
}
.gray-sch {
  border: 1px solid rgba(60, 60, 67, 0.3);
  border-radius: 8px;
}
.gray-sch span {
  color: rgba(60, 60, 67, 0.3);
}
.gray-sch-fill {
  background: linear-gradient(0deg, #F5F8F9, #F5F8F9), #FFFFFF;
  /* border: 1px solid rgba(60, 60, 67, 0.3); */
  border-radius: 8px;
}
.black-sch:hover {
  background: #5bc0cc;
  border: #5bc0cc;
}
.black-sch:hover span {
  color: #ffffff;
}

.black-sch {
  border: 1px solid #000000;
}
.black-sch span {
  color: #000000;
}
.slected-sch {
  background: #5bc0cc;
}
.slected-sch span {
  color: #ffffff;
}

/* =====================schedule div end================ */

/* =================Price Div================== */
.price-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 40% !important;
}
.price-div h2 {
  margin: 0 !important;
}
.price-div span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -5px;
  left: -7px;
}

/* ==================Confrim Modal Start================== */
.confirm-code-div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.confirm-block{
  width: 54px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #5BC0CC;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==================Confrim Modal End================== */

/* ==================Horizonatl Calander Modal Start=================== */
.hor-calander{
  width: 35% !important;
  margin: 0 auto;
}
.DatePicker_container__KBpvy{
  width: 40% !important;
  margin: 0 auto;
}
.DatePicker_monthYearLabel__sIYVv{
  left: 45% !important;
  color: #000000 !important;
}
.DatePicker_dayLabel__HTXT-{
  color: rgba(60, 60, 67, 0.3) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.DatePicker_buttonWrapper__X9M6G {
  align-items: flex-start !important;
}
.DatePicker_button__NfbbX{
  background: transparent !important;
  color: #1E1E1E !important;
}
.DatePicker_monthContainer__8BPsP {
  gap: 25px !important;
}
.DatePicker_daysContainer__TkS5s{
  /* margin-left: 0 !important; */
  gap: 5px;
}
.DatePicker_dateDayItem__0uY0C:hover{
  background: red !important;
}
.DatePicker_dateDayItem__0uY0C:hover{
  background: red !important;
}
.DatePicker_dateDayItem__0uY0C{
  height: auto !important;
  gap: 10px;
}
/* ==================Horizonatl Calander Modal End=================== */


/* ==================Book Appoitment Modal Start=================== */
.appt-modal .modal-content {
  background: linear-gradient(0deg, #f5f8f9, #f5f8f9), #ffffff !important;
  padding: 20px 50px !important;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.18);
  border-radius: 24px !important;
}
.book-app.modal-header {
  border: none;
  padding-bottom: 0 !important;
}
.cal-date-div {
  background: #ffffff;
  padding: 10px 20px;
}
.modal-para {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}
.des-para {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}
.staric {
  color: #e70000;
  font-size: 18px;
}
.btn-close {
  font-size: 14px;
  color: #0d0d0d !important;
}
/* ===============Book Appoitment Modal End=================== */


/* ===============Edit Appoitment Modal Start=================== */
.time-schd.time-sch-popup{
  width: 100% !important;
}
/* ===============Edit Appoitment Modal End=================== *


/* =============== Appoitment Done Modal Start=================== */
.modal-content{
  border: none !important;
}
.done-appt .modal-content {
  justify-content: center;
  align-items: center;
}
.done-appt .modal-body {
  text-align: center;
}
.modal-gray-text {
  font-weight: 400;
  font-size: 14px;
  color: rgba(30, 30, 30, 0.7);
  margin: 0;
}
/* =============== Appoitment Done Modal End=================== */

/* ====================Form Styling Strat =============== */
.form-inline-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.form-main label {
  font-size: 14px;
  color: #000000;
}
.label-dark {
  font-weight: 500;
}
.label-light {
  font-weight: 400;
}
.form-main input {
  height: 52px;
  border-radius: 12px;
  border: none !important;
}
.form-main input::placeholder {
  letter-spacing: 0.01em;
  color: rgba(30, 30, 30, 0.6);
  font-size: 12px;
}
.form-main .main-btn {
  width: 100%;
}
.form-main .outline-btn {
  width: 100%;
}
/* ====================Form Styling End =============== */

/* ====================Calander Settings Start=================== */

.react-calendar {
  margin: 0 auto;
  width: 45% !important;
  border: none !important;
}
span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: #000000;
}
.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(60, 60, 67, 0.3);
}
.react-calendar__tile {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  font-family: "Rubik", sans-serif !important;
}
.react-calendar__tile {
  line-height: 25px !important;
}
.react-calendar__tile--active {
  background: #5bc0cc !important;
  color: white !important;
}
.react-calendar__month-view__days__day--weekend {
  font-weight: 400;
  font-size: 18px;
  color: #000000 !important;
}
.react-calendar__tile--now {
  background: rgba(91, 192, 204, 0.24) !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #5bc0cc !important;
}
button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  display: none;
}
button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}
button.react-calendar__tile.react-calendar__month-view__days__day {
  flex: 0 0 10.2857% !important;
  border-radius: 25px;
}
.react-calendar__month-view__days {
  gap: 20px;
}

/* ====================Calander Settings End=================== */

@media screen and (max-width: 768px) {
  .bottom-bg {
    background: none;
  }
  .eclipse-bg {
    display: none;
  }
  .react-calendar {
    width: 80% !important;
  }
  .time-schd {
    width: 80% !important;
    justify-content: center;
  }
  .price-div {
    width: 80% !important;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    width: 70%;
  }
  .react-calendar {
    width: 100% !important;
  }
  .time-schd {
    width: 100% !important;
  }
  .price-div span {
    position: unset;
  }
  span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    font-size: 18px;
  }
  .react-calendar__tile {
    font-size: 14px;
  }
  .react-calendar__month-view__days__day--weekend {
    font-size: 14px;
  }
  .parallel-btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .price-div {
    width: 100% !important;
  } */
  button.react-calendar__tile.react-calendar__month-view__days__day {
  }
}
